/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

div,form,img,ul,ol,li,dl,dt,dd {
border:0;
text-align:left;
margin:0;
padding:0;
}

html, body { height: 100%; }

body {
  color: #ccc;
  font-family: "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  font-size: 15px;
  line-height: 200%;
  width: 100%;
  height: 100%;
}

#home-body {
background-color: #1d1d1d;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
  color: #480;
}

h1 { margin-bottom: 1em; }
/*
p { margin: 1em 0; }
*/
a         { color: #80bd01; }
/*
a:hover   { color: #000; }
*/
a{text-decoration: none;}

#content {
padding: 0 20px 0 20px;
margin-top: 25px;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#page {
background-position: center top;
background-repeat: repeat-x;
padding: 0 0 84px;
position: relative;
}

.content-wrap {
background: #303030;
width: 100%;
min-height: 100%;
}

#wrap {
margin: 0 auto;
position: relative;
-moz-transition: padding, width .5s ease-out;
-ms-transition: padding, width .5s ease-out;
-o-transition: padding, width .5s ease-out;
-webkit-transition: padding, width .5s ease-out;
transition: padding, width .5s ease-out;
width: 750px;
min-height: 300px;
word-break: break-all;
}

.header {height: 40px}
.blog_title {
float:left;
margin-right:40px;
}
.posts {
  list-style-type: none;
}

.pagination {
  padding-top: 20px;
  height: 30px;
  padding-bottom: 10px;
}
.pagination .pre {
  line-height: 24px;
  float: left;
}

.pagination .next {
  line-height: 24px;
  float: right;
}
/*.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
*/

.entry-block {
  position: relative;
}

.entry-posted {
background-image: url("http://img.my.csdn.net/uploads/201403/23/1395572269_7415.png");
background-repeat: no-repeat;
width: 60px;
height: 50px;
float: left;
margin: 4px 10px 0 0;
padding: 15px 5px 16px;
}
.entry-posted span {
  display: block;
  text-align: center;
  line-height: 100%;
  color: #3c3c3c;
  text-transform: uppercase;
}

.entry-header {
  min-height: 60px;
  padding-top: 26px;
}

.time-title  h2{
  font-weight: normal;
  font-family: "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
}

.entry-title {
  min-height: 60px;
  padding-top: 26px;
  font-size: 16px;
}

/******************************************************************************/
/* For home page navigation bar
/**/
.nav_menu li {
list-style:none; /* 将默认的列表符号去掉 */
padding:0; /* 将默认的内边距去掉 */
margin:0; /* 将默认的外边距去掉 */
border-left:1px solid #6f6f6f;
padding: 0 20px 0 20px;
float:left; /* 往左浮动 */
}

.nav_menu li:first-child {
  border-left:none;
}

.nav_menu li a {
  text-align: center;
  width: 100px;
}

.header_nav {
position: relative;
background: #303030;
padding-top: 15px;
}

.header_nav ul {
width: 747px;
margin: 0 auto;
text-align: center;
height: 40px;
}

.intro {
text-align: left;
padding-top: 50px;
padding-bottom: 30px;
padding-left: 230px;
margin: 0 auto;
width: 500px;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.5em;
  max-width: 960px;
}

/*
.header a {
  font-weight: bold;
  text-decoration: none;
}*/

/*
.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}*/

/*
.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}
*/
.meta {
  color: #aaa;
}

/*.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}*/
#footer {
margin: 0 auto;
background-color: #1d1d1d;
}
.foot {
  margin: 0 auto;
  width: 755px;
  text-align: center;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-family: Consolas,Monaco,'Andale Mono',monospace;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post {
color: #46483e;
word-break: break-word;
line-height: 200%;
font-size: 15px;
}

.postbody {
background-color:#fff;
}

.post p {
padding: 8px 0;
}

.highlight {
  line-height: 150%;
}

.highlight pre {
  background-color:#394034;
  color: white;
}

.highlight pre code {
  background-color:#394034;
}
