
    <!--
    <header class="blog_title">
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
    </header>
-->
    <div class="header_nav">
        <ul class="nav_menu">
            <li><a href="/" title="{{site.signiture}}"><img src="{{site.url}}/res/images/fenesky.svg" width="15"></a></li>
            <li><a href="/" title="{{site.signiture}}">{{site.signiture}}</a></li>
            <li><a href="http://blog.csdn.net/feiyinzilgd">CSDN Blog</a></li>
            <li><a href="https://github.com/harlentan">Life</a></li>
            <li><a href="https://github.com/harlentan">Projects</a></li>
            <li><a href="https://github.com/harlentan">Github</a></li>
            <li><a href="{{site.url}}/pages/about.html">About</a></li>
        </ul>
    </div>

