<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="{{page.keywords}}" />
        <meta name="description" content="{{page.description}}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.signiture }}</title>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body id="home-body">
        {% include nav_header.html %}
        <div class="intro">
            <img src="/res/images/webkit.png">
        </div>
        <div class="content-wrap">
            <div id="wrap">
            {{ content }}
            </div>
        </div>
        {% include footer.html %}
    </body>
    <script type="text/javascript" src="http://js.tongji.linezing.com/3418730/tongji.js">
    </script>
    <noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/3418730/tongji.gif"/></a>
    </noscript>
</html>
