<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body class="postbody">
        {% include nav_header.html %}
        <div class="site">
        <!--
          <div class="header">
            <header class="blog_title">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            </header>
            <nav class="header_nav">
              <ul class="nav_menu">
                <li><a href="http://www.fenesky.com">Home</a></li>
                <li><a href="http://www.fenesky.com">Blog</a></li>
                <li><a href="http://www.fenesky.com">About</a></li>
              </ul>
            </nav>
          </div>
        -->
        <h2><a href="{{ site.url }}{{ page.url }}" title="{{page.title}}">{{page.title}}</a></h2>
        <p class="meta">{{ page.date | date_to_string }}</p>

        <div class="post">
                {{ content }}
                {% include disqus_comment.html  %}
        </div>

        </div>

    </body>
    <script type="text/javascript" src="http://js.tongji.linezing.com/3418730/tongji.js">
    </script>
    <noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/3418730/tongji.gif"/></a>
    </noscript>
</html>
